!!! Strict
%html{'lang' => 'fr'}
  %head
    %title= @title.join '::'
    = stylesheet_link_tag 'style'
  %body
    #wrap
      #top
        %h1= link_to @title.join('::'), '/'
        #menu
          %ul
            %li= link_to t(:layout_home), "/"
            -if logged_in?
              %li= link_to t(:layout_post), "/announcements/new"
      #content
        #left
          = yield :layout
        #right
          .box
            - if logged_in?
              %h2= t :user_block_title, :user => current_user.login
              %ul
                %li= link_to(t(:announcements_new), "/announcements/new")
                %li= link_to(t(:user_logout), "/logout")
            - else
              %h2= t :user_block_title_not_logged
              %ul
                %li= link_to(t(:user_login), "/login")
                %li= link_to(t(:user_signin), "/signup")

          .box
            %h2= t :recent_announcements
            %ul
              %li Recent #1
              %li Recent #2
              %li Recent #3
              %li Recent #4
              %li Recent #5
          = render 

        #clear

    #footer
      %p= t :page_generated_by, :ruby => link_to ( "Ruby on Rails", "http://rubyonrails.org")
