!!! Strict
%html{'lang' => 'fr'}
  %head
    %title= @title
    = stylesheet_link_tag 'style'
  %body
    #wrap
      #top
        %h1= link_to @title, '/'
        #menu
          %ul
            %li= link_to "home", "/"
            %li= link_to "post", "/announcements/new"
      #content
        #left
          = yield :layout
        #right
          .box
            %h2= t :recent_announcements
            %ul
              %li Recent #1
              %li Recent #2
              %li Recent #3
              %li Recent #4
              %li Recent #5
          = render 

        #clear

    #footer
      %p= t :page_generated_by, :ruby => link_to ( "Ruby on Rails", "http://rubyonrails.org")
