!!! Strict
%html{'lang' => 'fr'}
  %head
    %title= @title.join '::'
    = stylesheet_link_tag 'style'
    = javascript_include_tag 'jquery', 'application'
  %body
    #wrap
      #top
        %h1= link_to @title.join('::'), '/'
        #menu
          %ul
            %li= link_to t(:layout_home), "/"
            -if logged_in?
              %li= link_to t(:layout_post), "/announcements/new"
              %li= link_to t(:layout_mine), mine_url
      #content
        #left
          -if flash[:notice]
            %p#flash= flash[:notice]
          = yield :layout
        #right
          .box
            - if logged_in?
              %h2= t :user_block_title, :user => current_user.login
              %ul
                %li= link_to(t(:announcements_new), "/announcements/new")
                %li= link_to(t(:announcement_archives), archive_path)
                %li= link_to(t(:user_logout), "/logout")
            - else
              %h2= t :user_block_title_not_logged
              %ul
                %li= link_to(t(:user_login), "/login")
                %li= link_to(t(:user_signin), "/signup")
          .box
            %h2= t :announcement_search_block
            -form_tag({:controller => 'announcements', :action => 'search'}, :method => :post) do
              =text_field_tag 'query'
        #clear

    #footer
      %p= t :page_generated_by, :ruby => link_to ( "Ruby on Rails", "http://rubyonrails.org")
